source/w3cipa/CMakeLists.txt.user
source/build-w3cipa-Desktop_Qt_6_5_1_MinGW_64_bit-Debug/**
source/w3cipa/open-source/**
*.bkp
**/*.bkp

/source/w3cipa/out
/vcpkg_installed
/source/w3cipa/CMakeSettings.json
/.vs
/source/w3cipa/.vs
/source/w3cipa/.editorconfig
